# 02-01 데이터 집합 불러오기

### 02-01-01 상대경로 이용해서 데이터 불러오기

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv('./data/gapminder.tsv', sep='\t') # '../는 상위 디렉토리, ./는 현재 디렉토리, /는 C에서 시작'

### 02-01-02 시리즈와 데이터프레임

https://datascienceschool.net/view-notebook/ee0a5679dd574b94b55193690992f850/

In [10]:
# .head
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [12]:
# .type() : 데이터 타입 확인
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [13]:
# .shape :데이터 행, 열 수 확인
print(df.shape)

(1704, 6)

In [16]:
# .dtypes : 컬럼 마다 타입 확인
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [17]:
# .info() : 데이터 타입과 행열수를 모두 보여줌
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### 02-01-03 판다스와 파이썬 자료형
문자열<br>  
in pandas : object<br>
in python : string

### 02-02-01 열 단위 추출

In [18]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [20]:
df_country = df['country']
df_country.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [23]:
subset = df[['country', 'continent', 'year']]
type(subset)

pandas.core.frame.DataFrame

In [24]:
subset.tail()

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

### 02-02-02 행단위 이터 추출

iloc : 행 번호 기준, 정수만 가능, 음수 사용가능<br>
loc : 인덱스 기준 추출

In [25]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [26]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [32]:
# 마지막 행 추출
nor = df.shape[0] 
nor
#type(df.shape)

1704

In [30]:
lri=nor - 1
print(df.loc[lri])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [33]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [34]:
# 0, 99, 999 인덱스 데이터 추출
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

###### 행 먼저, 열 다음 지정하여 추출

In [35]:
# 슬라이싱 구문':' : 데이터 추출
subset = df.loc[:, ['year', 'pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [36]:
subset2 = df.iloc[:, [2,4,-1]]
print(subset2.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [37]:
##### range : 원하는 구간의 정수 리스트 제너레이터 반환 => 리스트로 변환 필요
small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [42]:
type(small_range)

list

In [43]:
type(range(5))

range

In [45]:
subset3 = df.iloc[:, list(range(5))]
print(subset3.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [46]:
sr = list(range(3,6))
sr

[3, 4, 5]

In [47]:
subset4 = df.iloc[:, sr]
print(subset4.tail())

      lifeExp       pop   gdpPercap
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

In [48]:
# 0, 2, 4 번 인덱스 컬럼의 행 추출
sr2 = list(range(0, 6, 2))
sr2

[0, 2, 4]

In [49]:
subset4 = df.iloc[:, sr]
print(subset.tail())

      year       pop
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

In [52]:
# 컬럼 확인하기
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [53]:
subset5 = df.iloc[:, :3]
print(subset5.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972